*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family:'Core';
    src: url(../font/Core/Fontspring-coresansar15.otf);
}

@font-face {
    font-family:'Roboto';
    src: url(../font/Roboto/RobotoCondensed-Light.ttf);
    src: url(../font/Roboto/RobotoCondensed-Regular.ttf) , url(../font/Roboto/RobotoCondensed-Bold.ttf);
}


